body {
  text-align: center;
  margin: 10;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
html {
  background-image: url("..//img/фульфрина.jpeg");
  background-repeat: no-repeat;
  background-size: 35%;
}

textarea {
  height: 100px;
  resize: none;
}
form {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  width: 500px;
  border: 2px #000 solid;
  padding: 10px;
}
